@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #88AB8E;
  --secondary: #AFC8AD;
  --background-primary: #F2F1EB;
  --background-secondary: #EEE7DA;


  --foreground-rgb: var(--primary);
  --background-rgb: var(--background-primary);
}


body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

iframe {
  border-radius: 12px;
  background-size: contain;
}
